<marquee width="100%" direction="right" height="50px" scrollamount="12">
    WELCOME TO MyKart!
    </marquee>
    <button type="submit" class="btn btn-danger" routerLink="/showall">Show Products</button>&nbsp;&nbsp;
       <button type="submit" class="btn btn-danger" routerLink="/">Login</button> &nbsp;&nbsp;
       <button type="submit" class="btn btn-danger" routerLink="/signup">SignUp</button>
<br>
 

<div style="height: 100%;width: 100%;border-radius: 0.15rem;">
    <diV  class="Large-Flex" >
        
        <img src="assets/Fashion/Watches/w10.jpeg"> 
        <img src="assets/Fashion/Shoes/s1.jpeg"> 
        
      <br>
    </diV>
    <div class="small-Flex">
        <div class="small" ><img src="assets/Mobile/IOS/i8.jpeg" [routerLink]="['filter/Mobile']"></div>
        <div class="small"><img src="assets/Electronics/Fridge/f9.jpeg" [routerLink]="['/allProducts/Appliances']"></div>
        <div class="small"><img src="assets/Electronics/Laptop/l10.jpeg" [routerLink]="['/allProducts/Appliances']"></div>
    </div>
</div>
