
<!--
<div >
  <a routerLink="showall"  class="btn btn-success"></a>
  <a routerLink="search"  class="btn btn-success">Search Products</a>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>



    
    <div>
        <app-admin></app-admin>
    </div>
 




<html>

<div>
    <app-tempproduct></app-tempproduct>
</div>-->






  
   <!--<div>
        <app-admin></app-admin>
    </div>
    
    

     <app-retailer></app-retailer>
    <app-adminprofile></app-adminprofile>
 
   <app-signup></app-signup>
   -->

   

  
 <!-- 
   <app-login></app-login>
 
   <app-signup></app-signup>
-->
   
<!--<app-admin></app-admin>
<app-tempproduct></app-tempproduct>-->
<html>

  <!--<app-cart></app-cart> -->
<router-outlet></router-outlet>
</html>


<!--<h1>App Works!</h1>
<img src='assets/Electronics/Fridge/f1.jpeg'>


<h1>App Works!</h1>
<img src='assets/Electronics/Fridge/f1.jpeg'>-->

