<div class="div-1">
    <h2>Retailer Details</h2>
</div>
<br>
<br>


<table style="margin: auto;" class="t">  <!--Admin gets option to accept or reject using buttons -->
    <thead>
        <tr>
            <th>Retailer ID</th>
            <th>Retailer Name</th>
            <th>Retailer Email</th>
            <th>Phone Number</th>
            
        </tr>
    </thead>
    <tbody>   
        <tr *ngFor="let r of retArray">
           
            <td>{{r.retailerid}}</td>
            <td>{{r.retailername}}</td>
            <td>{{r.retaileremail}}</td>
            <td>{{r.retailerphnumber}}</td>
            
            
        </tr>
    </tbody>
</table>
<br>
<br>
<button routerLink="/tempproduct/Admin/addretailer" class="btn btn-warning" style="margin: auto;display: block;">Add a New Retailer</button>
