<div class="header">
    <h1>ADMIN PROFILE</h1>
</div>

<form>
<table class="table">
    <tbody>
         <th> Retailer's ID 
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            </th>
            <th> Retailer's Name
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            </th>
            <th>Edit product
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            </th>
            <th>Notification to verify
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
                <tr>
                    <td><label for="retailerid"> </label></td>
                    <td> <input type="text" name="retailerid"></td>
                </tr>
            </th>
            <th>Delete 
                <tr>
                    <td><button type="submit" class="btn btn-danger">Delete product</button></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-danger">Delete product</button></td>
                </tr>
                <tr>
                    <td><button type="submit" class="btn btn-danger">Delete product</button></td>
                </tr>
           </th>
            </tbody>
        
            </table>
        </form>

